*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: orange;
}

html {
  font-size: 20px;
  font-family: 'Nimbus Mono PS', 'Courier New', monospace;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

button {
  all: unset;
}

body {
  line-height: 1.5;
  background-color: black;
}

header {
  margin-bottom: 2vh;

  h1,
  h2 {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}

.gameboards {
  justify-content: space-around;

  .gameboard {
    gap: 2px;
    aspect-ratio: 1/1;
    height: 100%;
    border: 2px solid rgba(18, 199, 18, 0.822);

    .cell {
      position: relative;
      box-shadow: 0px 0px 0px 2px rgba(18, 199, 18, 0.2), 0px 0px 6px 0px rgba(18, 199, 18, 0.4);

      &.targeted {
        border: 2px dashed rgba(18, 199, 18, 1);
      }
    }
  }

  .gameboard.hidden {
    opacity: 40%;
  }
}

.hit::before,
.miss::before {
  position: absolute;
  content: "";
  background-color: rgba(18, 199, 18, 0.8);
  border-radius: 50%;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 6px 2px rgba(18, 199, 18, 0.8);
}

.hit::after,
.miss::after {
  position: absolute;
  content: "";
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  width: 40%;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 6px 2px rgba(18, 199, 18, 0.8) inset;
}

.hit::before {
  background-color: rgba(18, 199, 18, 1);
}

.hit::after {
  background-color: rgba(255, 0, 0, 0.9);
  box-shadow: 0px 0px 6px 2px rgba(18, 199, 18, 1) inset;
}

.gameboards:not(.hidden) {
  .gameboard:not(.hidden) {
    box-shadow: 0px 0px 30px 6px rgba(18, 199, 18, 0.4);

    .cell {
      cursor: pointer;

      &:hover:not(.targeted) {
        border: 2px solid rgba(18, 199, 18, 1);
      }
    }

  }
}

.gameboards.hidden {
  opacity: 40%;

  .gameboard {
    box-shadow: none;
  }
}

.gameboard-headers {
  color: rgba(255, 255, 255, 0.45);
  justify-content: space-around;
  margin-bottom: 4px;
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }
}

.row {
  width: min-content;
  height: min-content;
  gap: inherit;

  .cell {
    height: 4vw;
    max-height: 60px;
    aspect-ratio: 1/1;

    &.ship {
      background-color: grey;
      box-shadow: 0px 0px 0px 2px rgba(128, 128, 128, 0.596);
    }
  }
}

.row:nth-child(even) {
  background-color: rgb(4, 24, 3);
}

button {
  position: relative;
  margin: auto;
  color: white;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgba(18, 199, 18, 1);
  box-shadow: 0px 0px 12px 3px rgba(18, 199, 18, 0.4);
  text-align: center;
  padding: 4px;
  cursor: pointer;

  &:hover:not(.inactive) {
    box-shadow: 0px 0px 12px 8px rgba(18, 199, 18, 0.5), 0px 0px 12px 8px rgba(18, 199, 18, 0.5) inset;
  }
}

button.continue {
  font-size: 2em;
  margin-top: 4vh;
  padding: 10px 16px 0px;
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.intermission.modal {
  visibility: hidden;
}

.modal-content {
  margin-top: 20vh;
  color: white;
  background-color: black;
  box-shadow: 0px 4px 24px 20px black;
  height: min-content;

  h1 {
    text-align: center;
    font-size: 2rem;
  }

  .modal-button-container {
    justify-content: center;
    gap: 20px;
  }

  button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    aspect-ratio: 1 / 1;

    &:hover {
      box-shadow: 0px 0px 12px 8px rgba(18, 199, 18, 0.5), 0px 0px 12px 8px rgba(18, 199, 18, 0.5) inset;
    }

    .icon {
      position: relative;
      bottom: 8px;
      height: 60px;
    }

    span {
      position: relative;
      top: 6px;
      margin-bottom: -24px;
      font-size: 2em;
    }
  }
}

button.inactive {
  opacity: 40%;
  cursor: default;
  pointer-events: none;
}

.intermission.modal button {
  height: 60px;
  padding: 0 12px;
}

.dev-button {
  position: absolute;
  color: white;
  background-color: olivedrab;
  bottom: 0px;
  height: 60px;
}