*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --battleship-gray: #5B6770;
  --navy-blue: #1A2A6C;
  --bright-red: #D72631;
  --light-blue: #7FB3D5;
  --dark-slate-gray: #2F4F4F;
}

html {
  font-size: 20px;
  font-family: 'Nimbus Mono PS', 'Courier New', monospace;
  font-weight: normal;
}

ol[role='list'],
ul[role='list'] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

body {
  margin: 0;
  height: 100vh;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'title gameboard display'
    'score gameboard display'
    'score gameboard .'
    '. gameboard .';
}

.logo {
  grid-area: title;
  justify-items: end;
  margin-top: 10%;

  h1 {
    font-size: 2em;
    font-weight: 900;
    text-decoration: underline overline black;
  }
}

.score {
  grid-area: score;
  font-size: 3rem;
  justify-items: end;
  align-content: center;

  .label {
    font-size: 1.6rem;
  }

  .container {
    border: 1px solid black;
    padding: 20px;
  }

  .separator {
    border-top: 1px solid black;
    margin-bottom: 20px;
  }
}

.active.display {
  grid-area: display;
  justify-items: start;
  margin-top: 10%;

  .text {
    h2 {
      font-size: 2em;
    }

    padding: 20px;
    text-align: center;
    border: 1px solid black;
  }
}

.gameboard-container {
  grid-area: gameboard;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 100%;
}

.grid {
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid #000000;
  width: 25em;

  .cell {
    aspect-ratio: 1/1;
    border: 1px solid #808080;
  }

  .player.cell:hover {
    border: 2px solid black;
    cursor: pointer;
  }

  .opponent.cell:hover {
    border: 2px solid red;
    cursor: pointer;
  }
}

.ship {
  background-color: gray !important;
}